h2 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 18px;
	font-weight: bolder;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-space-b {
	justify-content: space-between;
}

.flex-space-a {
	justify-content: space-around;
}

