body {
  background: #00ffff;
  display: grid;
  grid-template-columns: 120px repeat(3, 1fr);
}

.menu {
  display: flex;
  grid-column: 2 / 5;
  list-style: none;
  padding: 20px;
}

.menu li {
  margin-right: 10px;
}