.container {
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

/* Flex */
.flex {
	display: flex;
	flex-direction: column;
}

/* Flex Item */
.item {
	color: black;
	margin: 5px;
	background: #fec632;
	text-align: center;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

.cnt {
	margin: 0 auto;
	width: 50px;
	height: 50px;
}
